/* General Adjustments */
html {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
body, html, p, textarea, h1 {
    margin: 0;
    padding: 0;
}

/* First section */
.first-section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(221, 218, 213);
    padding-bottom: 60px;
}
h1, h2 {
    display: inline-block;
    padding-top: 50px;
    margin-left: 10vw;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
h2 {
    margin-left: 0;
}
h2::first-letter {
    margin-left: 18px;
}
.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.inputText {
    margin-top: 40px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.inputText textarea {
    padding: 50px 8px 20px 20px;
    resize: none;
    width: 90%;
    height: 50vh;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: rgb(174, 172, 169);
    font-size: 18px;
}
.buttons {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8px;
}
button {
    outline: none;
    border: none;
    padding: 13px;
    width: 125px;
    border-radius: 15px;
    background-color: rgb(117, 117, 116);
    transition: background-color 0.4s;
    font-size: 16px;
    box-shadow: 0 0 10px 7px rgba(103, 100, 100, 0.667);
    transition: box-shadow 0.4s;
}
button:hover {
    background-color: rgb(97, 97, 97);
    box-shadow: none;
}

.outputText {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outputText textarea {
    width: 70%;
    height: 85%;
    resize: none;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 20px 10px;
    box-shadow: 0 0 4px 8px rgba(171, 164, 164, 0.667);
    font-size: 18px;
}

/* Merge Messages */
.merge-container {
    position: absolute;
    display: inline-block;
    padding: 20px;
    top: 15px;
    right: 15px;
    margin: 0vh auto 0;
    background-color: aliceblue;
    border-radius: 15px;
}
.rsp-mrg-container {
    position: absolute;
    display: inline-block;
    padding: 20px;
    bottom: -50px;
    right: 0;
    left: 0;
    width: 180px;
    margin: 0 auto 0;
    background-color: aliceblue;
    border-radius: 15px;
}
.merge-msg {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.cursor {
    cursor: pointer;
}

@media screen and (max-width:900px) {
    h1 {
        margin-left: 15px;
    }
}

@media screen and (max-width:800px) {
    body {
        overflow-x: hidden;
    }
    .first-section {
        height: initial;
    }
    h1, h2 {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .inputText {
        margin-bottom: 50px;
    }
    .inputText textarea {
        height: 180px;
        min-width: 270px;
    }
    .buttons {
        min-width: 288px;
    }
    .outputText {
        width: 80vw;
        min-width: 270px;
        height: 250px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width:400px) {
    h1, h2 {
        font-size: 20px;
    }
    .inputText textarea, .outputText textarea {
        min-width: 200px;
    }
    .buttons {
        min-width: 280px;
    }
}